#cart {
    input {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .cart-item-name {
        line-height: normal;
    }

    .cart-item-quantity {
        margin-top: 6px;
    }
}
