@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Lobster);#cart input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#cart .cart-item-name {
  line-height: normal;
}

#cart .cart-item-quantity {
  margin-top: 6px;
}

nav .navbar-brand {
  font-size: 2.7rem;
  font-family: "Lobster", sans-serif;
}

nav .nav-link,
nav .dropdown-item {
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", sans-serif;
}

.card .card-header {
  font-family: "Lobster", sans-serif;
  font-size: 1.5rem;
}

